body
	font-family RobotoCondensed-Bold
	margin 0
	padding 0
	// background #912735
@font-face
	font-family RobotoCondensed-Regular
	src url("../fonts/RobotoCondensed-Regular.ttf")
@font-face
	font-family RobotoCondensed-Bold
	src url("../fonts/RobotoCondensed-Bold.ttf")
@font-face
	font-family Sans-Narrow-Regular
	src url("../fonts/PT_Sans-Narrow-Web-Regular.ttf")
@font-face
	font-family Sans-Narrow-Bold
	src url("../fonts/PT_Sans-Narrow-Web-Bold.ttf")
#main
	margin 0 auto
	padding 0 0 40px 0
	width 100%
	text-align center
	// background #912735
	#wrapper
		margin 0 auto
		width 750px
		// .divider
		// 	margin 0 auto
		// 	width 300px
		// 	height 2px
	h1
		margin 0 auto
		padding 5px 0
		width 490px
		font-family Sans-Narrow-Regular
		color #912735
		letter-spacing 1px
		word-spacing 2px
	p
		font-family Sans-Narrow-Regular
		line-height 25px
		letter-spacing 0.7px
		word-spacing 2px
		color black
		font-size 17px
		font-weight 600
#landing
	height 489px
	text-align center
	img
		border-radius 6px
		pointer-events none
header
	// width 100%
	// background url('../images/XYZ.png')
	// background-size 100%
	// background-repeat no-repeat
#navbar
	margin 0 auto
	width 600px
	background #912735
	border-radius 5px
	ul
		margin 0 0 50px 0
		padding 10px 0
		text-align center
		li
			display inline-block
			margin 0 15px
			list-style none
			a
				font-family Sans-Narrow-Regular
				padding 3px 20px 3px 20px
				text-decoration none
				color white
				word-spacing 2px
				letter-spacing 1px
				font-size 15px
				transition all 0.4s ease
				border-radius 3px
			a:hover
				background white
				color #912735
		li:first-of-type
			a
				border none
#darkness
	position fixed
	display none
	z-index 999
	width 100%
	height 100%vh
	text-align center
.large
	z-index 1000
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	width 450px
	height 850px
.iphone-display-2
	z-index 1000
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	width 376px
	height 676px
	background url("../images/iphone-display-2.jpg")
	background-size cover
	transition all 0.4s ease
.iphone-display-1
	z-index 1000
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	width 376px
	height 676px
	background url("../images/iphone-display-1.jpg")
	background-size cover
	transition all 0.4s ease
.toggle
	z-index 1111
	position fixed
	top 0
	bottom -757px
	left 0
	right 0
	margin auto
	width 61px
	height 61px
	background red
	border none
	border-radius 50%
	cursor pointer
	border 4px solid #444C50
#lightbox
	display none
	z-index 1111
	position fixed
	width 100%
	height 100%vh
	background rgba(0,0,0,0.8)
	pointer-events none
#lightbox button, img, div
	pointer-events auto
	
aside
	position fixed
	left -300px
	background-image url("../images/background.png")
	background-color #912735
	width 300px
	height 100%vh
	-webkit-box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.67);
	-moz-box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.67);
	box-shadow: 2px 0px 15px -4px rgba(0,0,0,0.67);
	#wrapper ul 
		margin 0
		padding 0 20px
	#wrapper ul li
		list-style none
		text-align right
	#wrapper ul li a
		color #902634
		text-decoration none
		text-transform uppercase
		font-size 27px
		letter-spacing 4px
		line-height 50px
		background white
		padding 2px 12px
	footer
		position absolute
		width 280px
		bottom 0
		left 10px
		text-align center
	footer p
		font-family Sans-Narrow-Regular
		color #902634
		font-size 14px
		background white
		padding 5px 15px
	footer p a
		margin 0 0 0 10px
		text-decoration none
		color #902634
		border-bottom 1px solid #902634
	footer p a:hover
		color black
		border-color black
.show, .hide
	position fixed
	cursor pointer
	font-size 30px
	color black
	padding 0px 10px
.hide
	display none
	padding 5px 10px
	color white
header
	text-align center
header img
	width 370px
	pointer-events none
main 
	height 400px
main #wallpapers
	text-align center;
	#box p
		font-size 16px
	h1
		margin 0 auto
		padding 5px 0
		width 490px
		font-family Sans-Narrow-Regular
		color #912735
		letter-spacing 1px
		word-spacing 2px
	p
		margin 0 auto
		padding 15px 0 50px 0
		width 700px
		font-family Sans-Narrow-Regular
		line-height 25px
		letter-spacing 0.7px
		word-spacing 2px
		color black
		font-size 18px
		font-weight 600
	font-size 14px
	#box
		position relative
		display inline-block
		width 300px
		height 500px
		img
			margin 20px 0 20px 0
			width 150px
			transition all 0.3s ease
			cursor pointer
		span
			font-family Sans-Narrow-Regular
			display none
			position absolute
			margin-left auto
			margin-right auto
			left 0
			right 0
			top 40%
			text-transform uppercase
			font-size 13px
			letter-spacing 1px
			color white
			pointer-events none
		h2
			margin 5px 0
			color #8d2130
			text-transform uppercase
			letter-spacing 1px
			font-size 19px
		p
			width 300px;
			margin 5px 0
			padding 0
			letter-spacing 1px
		button
			font-family Sans-Narrow-Bold
			margin 10px 0 0 0
			background #8d2130;
			border none
			text-transform uppercase
			color white
			font-size 18px
			border 2px solid #8d2130
			border-radius 4px
			transition all 0.4s ease
			cursor pointer
			letter-spacing 2px
		button:hover
			background #EEEEEE;
			color #8d2130
button:focus {
    outline: 0;
}
::-moz-selection { background: yellow; }
::selection { background: #EEEEEE; }